.App {
  text-align: center;
}

.App .navbar-brand {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

/****************************************/
/*************** Carousel ***************/
/****************************************/
.carousel {
  display: block;
  height: 512px;
  width: 100%;
  padding: 0;
}

.carousel > .carousel-item > img {
  height: 100%;
  width: 100%;
}

/****************************************/
/*************** Galeria ****************/
/****************************************/
.gallery-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

.gallery-thumbnail {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}

.overlay {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.4);
}

.gallery-card:hover .overlay {
  opacity: 1;
}
