.App {
  text-align: center;
}

.App .navbar-brand {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

/* Carousel */
.carousel {
  display: block;
  height: 480px;
  width: 1200px;
}

.carousel > .carousel-item > img {
  height: 100%;
  width: 100%;
}

/* Galeria */
.gallery-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

.gallery-thumbnail {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}